@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --bg-header: #525252;
  --bg-main: #363839;
  --color-all: #FFFFFF;
  --color-input: #000;
  --color-name: #CBCBCB;
  --bg-button-app:rgba(203, 203, 203, 0.2);
  --bg-chosen-movie:rgba(33, 47, 60, 0.7);
  --bg-image: rgba(228, 230, 232, 0.1)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-all);
  font-family: 'Roboto', sans-serif;
  
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;  
  background-color: var(--bg-main);

}