@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
:root {
  --bg-header: #525252;
  --bg-main: #363839;
  --color-all: #FFFFFF;
  --color-input: #000;
  --color-name: #CBCBCB
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-all);
  font-family: 'Roboto', sans-serif;
  
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;  
  background-color: var(--bg-main);

}